cell-color-key div
    width 60%
    padding-top 30px
    color font-color-light-grey
    ol.cell-color-key
        display flex
        flex-direction row
        padding-top 6px
        width 100%
        li
            display flex
            flex 1 1 auto
            list-style none
            border-top 9px solid white
            padding-top 3px
            color font-color-light-grey
            font-size 10px
            position relative
            &:last-child p
                position absolute
                right 0
