color-purple                    = #722580
color-light-purple              = #ae5ca7
color-red                       = #B95656
color-blue                      = #0064a4
color-dark-blue                 = #005fb6
color-green                     = #107f65
color-ming                      = #008e86
color-white                     = #ffffff
color-dropdown-light-grey       = #f2f3f2
color-dropdown-dark-grey        = #cdceca
color-shadow                    = #bcbcba
color-sidebar-grey              = #f1f1f1
color-sidebar-dark-grey         = #d3d3d3
color-scroll                    = #d3d3d3
color-scroll-thumb              = #9c9c9c
color-card-grey                 = #f1f1f1
color-play-controller-grey      = #f1f1f1
color-inactive-grey             = #b9b9b9
color-grey1                     = #f1f1f1
color-grey2                     = #d3d3d3
color-grey3                     = #bbbbbb
color-tooltip                   = #f1f1f1

primary-color = #4B9CC6
primary-color-hover = #61B7E3
almost-black = #242424
almost-white = #f7f7f7
alt-background = #4d4d4d
near-black = #121617
pane-border-color = #cbd2d3
slate-black = #252d2f
inactive-gray = #70889a
medium-gray = #374549
data-color = #9AB04C
data-color-hover = #688A00
crunch-red = #B95656
table-alt-1 = #f4f4f4
table-alt-2 = #e8e8e8
primary-background = #f1f1f1
rollover-background = #cdceca
gray-border-color-medium = #d3d3d3

z-index-header          = 700
z-index-brand           = 999
z-index-popup           = 999
z-index-play-control    = 300
z-index-sidebar         = 600
z-index-content-header  = 400
z-index-analyses-tray   = 300





width-site          = 960px
width-sidebar       = 220px
width-scroll        = 7px
width-dropdown      = 300px
width-filter-card   = 272px



height-header       = 70px
height-dropdown     = 600px
height-scroll       = width-scroll
height-filter-card  = 180px



min-height-variable-card        = 400px



workspace-v-space-s             = 10px
workspace-v-space-m             = 18px
workspace-v-space-l             = 30px
workspace-h-space               = workspace-v-space-l
dataset-header-v-space          = 10px
dataset-header-h-left-space     = 30px
dataset-header-h-right-space    = 18px
browseable-variable-v-space     = 0px
browseable-variable-h-space     = 9px
variable-card-v-space-xs        = 9px
variable-card-v-space-s         = 9px
variable-card-v-space-m         = 12px
variable-card-h-space           = 18px
variable-card-btn-v-space-m     = 12px
variable-card-btn-h-space-m     = 10px
sidebar-button-v-space-s        = 9px
sidebar-button-v-space-m        = 12px
sidebar-button-h-space          = 14px
dropdown-button-v-space         = 9px
dropdown-button-h-space         = 10px
filter-builder-v-space-xs       = 8px
filter-builder-v-space-s        = workspace-v-space-m - workspace-v-space-s
filter-builder-v-space-s2       = 9px
filter-builder-h-space-xs       = 10px
filter-builder-h-space-s        = 16px
filter-builder-h-space-s2       = 18px
filter-builder-h-space-m        = workspace-h-space
filter-builder-h-space-l        = 36px
modal-v-space-s                 = 9px
modal-h-space-s                 = 16px


elements-space-l                = 36px
elements-space-m                = 18px
elements-space-s                = 9px


gutter-width = 10px
/*sidebar footer height*/
page-header-height = 3em

/* timings */
text-hover-speed = 200ms
link-hover-speed = 150ms

/* values */
font-family     = 'AvenirLTStd', Arial

font-color-white            = #fff
font-color-dark-grey        = #565656
font-color-light-grey       = #777
font-color-lighter-grey     = #bbb
font-color-purple           = color-purple
font-color-blue             = color-blue
font-color-green            = color-green
font-color-red              = color-red

font-size-xs        = 10px
font-size-s         = 11px
font-size-m         = 12px
font-size-l         = 14px
font-size-l2        = 15px
font-size-xl        = 16px
font-size-xl2       = 17px
font-size-xxl       = 20px

font-weight-light           = 200
font-weight-normal          = 400
font-weight-heavy           = 700

line-height-xl              = 17px
line-height-xxl             = 20px