analyze-tabs
    width 97%
    display flex
    margin-right workspace-v-space-l

.analyze-tabs
    height 33px
    display flex
    align-items center
    flex-grow 1
    padding-left elements-space-s

    .dimension-name-container
        display flex
        align-items center
        flex-shrink 0

        &:hover .icon-remove
            opacity 1
            color font-color-dark-grey

        .dimension-name
            margin-right 3px
            font-weight font-weight-heavy

        .remove-dimension
            position relative
            top -2px

    .pagination-container
        position relative
        overflow hidden
        display flex
        height 100%
        flex-grow 1
        margin 0 elements-space-s

    a.page-button
        flex-shrink 0
        width 21px
        height 21px
        display flex
        align-items center
        justify-content flex-start
        background-color color-grey1
        border-radius 50%

        &:hover
            background-color color-grey2

        span[class^=icon]
            color font-color-dark-grey

    a.page-button-left
        padding-left 7px

    a.page-button-right
        padding-left 9px

    ul.tabs-container
        display flex
        position absolute
        transition left ease-out 0.3s

        li.tab
            margin-right elements-space-s
            display flex

            a.tab-link
                padding elements-space-s
                white-space nowrap
                flex-shrink 0
                background-color color-card-grey
                width 100px
                text-overflow ellipsis
                overflow-x hidden
                text-align center
                font-size font-size-m
                color font-color-dark-grey

                &.active
                    font-weight font-weight-heavy
                    background-color color-grey2