ul.tabs-container
    display flex
    border-bottom 1px solid color-grey2
    margin-right workspace-v-space-l

    li.tab a
        color font-color-dark-grey

    li.tab
        padding elements-space-s
        overflow-x hidden
        text-overflow clip

        &.active
            font-weight font-weight-heavy
            background-color white
            margin-bottom -1px
            border 1px color-grey2 solid
            border-bottom 0
            border-radius 3px 3px 0 0
            overflow-x visible