<div ng-switch on="behavioral.behaviors.strategy">
    <span ng-switch-when="linkable"
        tooltip="Click this variable or drag it to the workspace to use it" tooltip-placement="right" 
        class="variable-button"
        ng-click="behavioral.handle('click')"
        dragit="behavioral.data"
        dragit-operation="link">{{behavioral.name}}</span>
    <span ng-switch-default
        tooltip="Click to show this variable" tooltip-placement="right" 
        class="variable-button"
        ng-click="behavioral.handle('click')">{{behavioral.name}}</span>
</div>
