variables-accordion
    min-group-height = 2em
    max-group-height = 12em
    subvariable-indent = 40px
    opaque-inner-color = #70889A

    display flex
    flex-flow column nowrap
    justify-content flex-start
    align-items stretch
    align-content flex-start
    color font-color-light-grey
    background-color color-sidebar-grey

    .container
        display flex
        flex-direction column
        flex-grow 1

    .groups
        flex 1 1 0px
        overflow-x hidden
        overflow-y auto
        border-bottom 1px solid color-white

        .group-item
            border-bottom 1px solid color-white

            &.expanded .hierarchical-group > header
                background-color inherit
                border-left 6px solid color-grey2
                color font-color-dark-grey
                &:hover
                    background-color color-grey2
                    color font-color-dark-grey

                button
                    padding elements-space-s (sidebar-button-h-space - 6)

                    &:hover
                        background-color inherit
                        color font-color-dark-grey

            .hierarchical-group > header
                cursor pointer

                &:hover
                    background-color color-sidebar-dark-grey
                    color font-color-blue

                button
                    padding sidebar-button-v-space-m sidebar-button-h-space
                    width 100%

    button.dec, button.inc
        width 100%
        padding sidebar-button-v-space-s sidebar-button-h-space sidebar-button-v-space-s 35px

    .behavioral-variable,
    .hierarchical-nested-group
        display flex
        flex-flow column nowrap
        justify-content flex-start
        align-items stretch

        a, button, span.variable-button
            flex 0 1 auto
            line-height line-height-xl
            padding elements-space-s elements-space-m elements-space-s 0
            display block
            cursor pointer

    .composite,
    .hierarchical-nested-group
        &> div header
            position relative
            display flex

            &> a
                display flex
                flex-grow 1
                justify-content space-between
                align-items center

                span:first-child
                    width 100%
                    padding-right 5px

            .behavioral-variable
                a, button
                    padding-right 35px


            .toggle
                display none
                position absolute
                top 0px
                right sidebar-button-h-space
                height 100%
                padding 0px 3px

            &:hover
                color font-color-blue
                background-color color-sidebar-dark-grey

                .toggle
                    display block

                    &:hover
                        color font-color-blue

        .subvariable-item
            a,button
                padding-left 45px

    a, button, span.variable-button
        color font-color-dark-grey
        font-size font-size-l
        font-weight font-weight-normal
        text-align left
        word-wrap break-word
        display block

        &:hover
            color font-color-blue
            background-color color-sidebar-dark-grey

    .subvariable-item
        a,button
            padding-left subvariable-indent
        /* implementors in this container should im
        padding-left 40px
        */

    .hierarchical-variable header
        padding-right 20px

    &.empty
        .groups
            display none

    .variable-browser
    overflow hidden
    browseable-item-min-width = 270px
    browseable-item-max-width = 540px
    browsable-item-flex-basis = (browseable-item-max-width + browseable-variable-h-space * 2)
    navigation-min-width = 16px
    navigation-max-width = navigation-min-width

    .navigate

        display block
        width navigation-width
        min-width navigation-min-width
        height 80%

        flex 0 0 workspace-h-space

        &.left
            order 0

        &.right button
            right 0px

        background-repeat no-repeat
        background-size 20px 18px

        &:disabled,
        &:disabled:hover
            display none
            cursor default

        &.prev
            background-position right
            background-image url('left.png')

            &:hover
                background-image url('left_hover.png')

        &.next
            background-position left
            background-image url('right.png')

            &:hover
                background-image url('right_hover.png')

    .slideable
        flex-grow 1
        flex-shrink 1
        position relative
        display flex
        flex-basis calc(100% - 32px)
        justify-content space-around
        width calc(100% - 32px)
        max-width calc(100% - 32px)
        padding-bottom workspace-v-space-l

    .browseable-variable
        min-width browseable-item-min-width
        max-width browseable-item-min-width
        flex-shrink 1
        display flex
        flex-direction column
        padding 5px
        box-sizing border-box
        position relative

        &.wide
            min-width browseable-item-max-width
            max-width browseable-item-max-width

        &.browsing
            opacity 1

        &.refreshing
            opacity 0
