<div class="card"
     data-ng-class="{active: exp.isActive}"
     data-ng-click="exp.activate()"
     data-click-anywhere-but-here="exp.deactivate()"
     >
    <header data-ng-hide="!exp.hasSource" class="card-header">
        <h1 data-dropdown>{{exp.name}}</h1>
        <ul>
            <li><button type="button" data-ng-click="exp.selectAll()">Select All</button></li>
            <li><button type="button" data-ng-click="exp.deselectAll()">Deselect All</button></li>
            <li>
                <button type="button"
                        data-ng-click="filterBuilder.handle('deleteExpression', $index)">
                        Delete
                </button>
            </li>
        </ul>
        <cr-select
            class="picker"
            on-option-selected="exp.negateExpression(selectedOption)"
            item-list="exp.pickerItems"
            current-value="exp.pickerOption">
        </cr-select>
    </header>
    <ol data-ng-show="exp.hasSource" class="categories-list">
        <li class="category-item"
            data-ng-repeat="cat in exp.orderedCategories"
            data-ng-show="cat.isSelected || exp.isActive">
            <button type="button"
                class="category-button"
                data-ng-class="{'selected' : cat.isSelected}"
                data-ng-click="exp.toggleCategorySelection(cat.id)">
                <span class="icon-done" ng-if="cat.isSelected"></span>
                <span ng-class="{'missing-category': cat.missing}">{{cat.name | displayDate: exp.variable.format.data}}</span>
            </button>
        </li>
    </ol>
    <div data-ng-show="exp.hasSource" class="card-count">
        <h3>Count</h3><span> {{exp.selectedRows | alwaysRoundCounts}} of {{filterBuilder.stat('total') | alwaysRoundCounts}} ({{exp.selectedRows|percentage:filterBuilder.stat('total')}})</span>
    </div>
    <div data-ng-show="exp.hasSource" class="inactive-arrow">&#9662;</div>
</div>
