/**
 * Created by enriquealc27 on 4/3/15.
 */
window.secrets = {
    credentials: ['user', 'password'],
    signinUrl: 'signin',
    dataset: 'dataset',
    variables : [
        'default variable urls'
    ]
}